#navbarSupportedContent ul{
    margin: auto auto;
}

#navbarSupportedContent ul li {
    padding-right: 20px;
}

.card {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.func-bar nav {
    background-color: white !important;
}

.footer {
    background-color: rgb(230, 230, 230);
    text-align: center;
}